.header-section {
  display: flex;
  padding: 20px 40px;
  background-color: $primary;
  div {
    width: 100%
  }
  div .logout-btn{
    float: right
  }
}

.Layout-section {
  img {
    padding: 20px;
  }
  .ant-layout-sider,
  .ant-menu-dark,
  .ant-layout-sider-trigger {
    background: #4a7ebb
  }
}